@import 'mixin.scss';
.demoSection {
  // overflow-x: hidden;
  z-index: 3;
  @include for-phone {
    position: relative;
    text-align: center;
    padding: 0 0 35px;
  }
  @include for-tablet {
    padding: 0 0 58px;
    display: flex;
    align-items: center;
  }
  @include for-desktop {
    padding: 0 0 31px;
    display: flex;
    align-items: center;
  }
  @include for-desktop-up {
    padding: 0 0 52px;
    display: flex;
    align-items: center;
  }
}
.imgWrp {
  @include for-phone {
    padding: 0 15px;
  }
}

.img {
  z-index: 3;
  position: relative;
  max-width: 1055px;
  object-fit: contain;
  @include for-phone {
    width: 751px;
    height: 433px;
    margin-top: -72px;
    left: -16px;
  }
  @include for-tablet {
    width: 750px;
    height: 434px;
    object-fit: contain;
    left: -13px;
    margin-top: -99px;
  }
  @include for-desktop {
    width: 1069px;
    height: 659px;
    left: -40px;
    margin-top: -121px;
  }
  @include for-desktop-up {
    z-index: 2;
    margin-top: -102px;
    height: 100%;
    max-width: 1055px;
  }
}
