@import 'variables.scss';
@import 'mixin.scss';
.partnersSection {
  @include for-phone {
    padding: 10px 14px 60px 12px;
  }
  @include for-tablet {
    padding: 4px 0 97px;
  }
  @include for-desktop {
    padding: 4px 0 104px;
  }
  @include for-desktop-up {
    padding: 4px 0 104px;
  }
  .sectionTitle {
    font-family: 'Manrope Bold';
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    color: $primary-text-color;
    letter-spacing: 0.5px;

    @include for-phone {
      font-size: 28px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: -0.4px;
    }
    @include for-tablet {
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: center;
      margin-bottom: 64px;
    }
    @include for-desktop {
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      margin-bottom: 58px;
    }
    @include for-desktop-up {
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      margin-bottom: 60px;
      margin-left: -4px;
    }
  }
}
.titleWrapper {
  margin: 0 auto;
  @include for-phone {
    margin-bottom: 50px;
  }
}

.swiperWrapper {
  margin: 0 auto;
  padding: 0 20px;
  @include for-phone {
    width: 320px;
  }
  @include for-desktop-up {
    max-width: 1280px;
    margin-left: 70px;
  }
}
