@import 'mixin.scss';

.root {
  position: relative;
}
.dotsBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include for-phone {
    display: none;
  }
  //   background: url(../ui/rootBg/1.png) no-repeat right 85px top 5px/600px;
  //   url(../ui/rootBg/2.png) no-repeat right 100px top 802px/961px,
  //   url(../ui/rootBg/3.png) no-repeat left 319px bottom 998px/710px,
  //   url(../ui/rootBg/4.png) no-repeat left 323px bottom 151px/370px;
  @include for-tablet {
    background: url(../ui/rootBg/1.png) no-repeat right -420px top 5px/600px;
  }
  @include for-desktop {
    background: url(../ui/rootBg/1.png) no-repeat right -100px top 5px/600px;
  }
  @include for-desktop-up {
    background: url(../ui/rootBg/1.png) no-repeat right 85px top 5px/600px;
    // url(../ui/rootBg/2.png) no-repeat right 100px top 700px/961px;
    // url(../ui/rootBg/3.png) no-repeat left 319px bottom 998px/710px,
    //   url(../ui/rootBg/4.png) no-repeat left 323px bottom 151px/370px;
  }
}

.main {
  overflow: hidden;
}
