@import 'mixin.scss';

.root {
  position: relative;
}

.dotsBg {
  overflow-x: hidden;
  overflow: hidden;

  margin: 0px auto;
  position: absolute;
  top: -1200px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../ui/rootBg/1.png), url(../ui/rootBg/2.png),
    url(../ui/rootBg/3.png), url(../ui/rootBg/4.png);
  background-repeat: no-repeat;
  z-index: 1;
  @include for-phone {
    display: none;
  }
  @include for-tablet {
    width: 768px;
    background-position: 585px 1210px, 125px 2100px, 50px 4410px, 200px 8085px;
    background-size: 600px 800px, 960px 1400px, 850px 1530px, 500px 1200px;
  }
  @include for-desktop {
    width: 1024px;
    background-position: 570px 1210px, 255px 2305px, 450px 4050px, 400px 5400px;
    background-size: 650px 850px, 960px 1485px, 750px 1330px, 400px 1050px;
  }
  @include for-desktop-up {
    width: 1280px;
    background-position: 570px 1210px, 215px 2125px, 450px 4050px, 400px 5400px;
    background-size: 700px 900px, 1050px 1550px, 750px 1330px, 400px 1050px;
  }
}

.main {
  overflow-x: hidden;
  overflow: hidden;
}
