@import 'mixin.scss';
@import 'variables.scss';

.stepSection {
  background-color: $bg-color;
  background-color: red;
  position: relative;
  z-index: 2;
  @include for-phone {
    padding: 76px 0 81px;
  }
  @include for-tablet {
    padding: 90px 0 80px;
  }
  @include for-desktop {
    padding: 91px 0;
  }
  @include for-desktop-up {
    padding: 91px 0 89px;
  }
}
.stepSectionWrp {
  margin: 0 auto;
  @include for-desktop {
    margin: 0 11px;
  }
  @include for-desktop-up {
    margin: 0 71px;
  }
}
.sectionTop {
  text-align: center;
  font-family: 'Manrope Bold';
  .sectionText {
    font-size: 13px;
    line-height: 1.1;
    font-weight: 700;
    color: #f43939;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .sectionTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    color: $primary-text-color;
    letter-spacing: 0.5px;
    @include for-phone {
      padding: 17px 30px 60px;
      letter-spacing: -0.5px;
      line-height: 1.4;
    }
    @include for-tablet {
      font-size: 32px;
      letter-spacing: -0.6px;
      line-height: 1.4;
      padding: 18px 0 78px;
    }
    @include for-desktop {
      font-size: 32px;
      letter-spacing: -0.5px;
      padding: 22px 0 91px;
    }
    @include for-desktop-up {
      font-size: 32px;
      letter-spacing: -0.5px;
      padding: 22px 0 91px;
    }
  }
}
.stepList li:nth-of-type(3) {
  @include for-tablet {
    margin: -18px 8px 0 0;
  }
}
.stepList {
  display: flex;
  justify-content: space-between;
  @include for-phone {
    flex-direction: column;
    align-items: center;
  }
  @include for-tablet {
    flex-direction: column;
    align-items: center;
  }
  @include for-desktop {
    align-items: flex-start;
  }
  @include for-desktop-up {
    align-items: flex-start;
  }
  .stepListItem {
    text-align: center;
    position: relative;
    @include for-phone {
      width: 100%;
    }
    @include for-tablet {
      width: 100%;
    }
    @include for-desktop {
      width: 31%;
    }
    @include for-desktop-up {
      width: 31%;
    }
    .img {
      width: 57px;
      height: 56px;
    }
    .stepListItemTitle {
      font-family: 'Manrope Semibold';
      font-weight: 600;
      color: $primary-text-color;
      font-size: 18px;
      line-height: 1.67;
      @include for-phone {
        padding: 9px 0 8px;
        letter-spacing: 0;
      }
      @include for-tablet {
        padding: 10px 0 6px;
      }
      @include for-desktop {
        padding: 24px 0 8px;
        letter-spacing: 0;
        margin-left: -2px;
      }
      @include for-desktop-up {
        padding: 26px 0 8px;
        margin-left: -2px;
      }
    }
    .stepListItemDesc {
      // margin: 0 auto;
      font-family: 'Manrope Semibold';
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      font-weight: 600;
      color: $secondary-text-color;
      letter-spacing: -0.2px;
      @include for-phone {
        max-width: 90%;
      }
      @include for-tablet {
        max-width: 100%;
        letter-spacing: -0.1px;
        margin-left: -1px;
        margin-bottom: 20px;

        // margin-left: -2px;
      }
      @include for-desktop {
        max-width: 100%;
        margin-left: -2px;
      }
      @include for-desktop-up {
        max-width: 100%;
        margin-left: -2px;
      }
    }
  }
  .stepListItem:nth-of-type(3) {
    @include for-phone {
      .stepListItemTitle {
        margin: 1px 0 0 -6px;
        letter-spacing: -0.2px;
      }
      .stepListItemDesc {
        margin-top: -1px;
        letter-spacing: -0.1px;
        margin-left: 14px;
      }
      .img {
        margin-top: 1px;
        margin-left: -5px;
      }
    }
  }
  .stepListItem:nth-of-type(1)::after {
    content: '';
    position: absolute;
    top: 28px;
    right: -44%;
    width: 270px;
    height: 2px;
    opacity: 0.1;
    background-color: $primary-text-color;
    @include for-phone {
      top: auto;
      bottom: -79px;
      right: 50%;
      width: 1px;
      height: 56px;
      transform: translateX(-50%);
    }
    @include for-tablet {
      top: auto;
      bottom: -59px;
      right: 50%;
      width: 1px;
      height: 56px;
      transform: translateX(-50%);
    }
    @include for-desktop {
      width: 224px;
      right: -42%;
    }
  }
}

.stepListItem:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: 28px;
  right: -44%;
  width: 270px;
  height: 2px;
  opacity: 0.1;
  background-color: $primary-text-color;
  @include for-phone {
    top: auto;
    bottom: -79px;
    right: 50%;
    width: 1px;
    height: 56px;
    transform: translateX(-50%);
  }
  @include for-tablet {
    top: auto;
    bottom: -40px;
    right: 50%;
    width: 1px;
    height: 56px;
    transform: translateX(-50%);
  }
  @include for-desktop {
    width: 224px;
    right: -42%;
  }
}

.stepList li:not(:last-of-type) {
  @include for-phone {
    margin-bottom: 103px;
  }
  @include for-tablet {
    margin-bottom: 83px;
  }
}
