@import 'mixin.scss';
@import 'variables.scss';

.sectionContainer {
  padding: 60px 0 70px;
  overflow: hidden;
  position: relative;
  @include for-phone {
    padding: 0 0 65px;
  }
  @include for-tablet {
    padding: 5px 0 65px;
  }
  @include for-desktop {
    padding: 11px 0 65px;
    height: 800px;
  }
  @include for-desktop-up {
    padding: 11px 0 65px;
    height: 800px;
  }
  .content {
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: auto;
    @include for-phone {
      align-items: center;
    }
    @include for-tablet {
      flex-direction: column;
    }
    @include for-desktop {
      justify-content: space-between;
    }
    @include for-desktop-up {
      justify-content: space-between;
    }
  }
  .carousel {
    width: 100%;
    height: 100%;
    border: solid 1px #fcede8;
    border-radius: 53px;
    background-color: #fcede8;

    @include for-phone {
      border-radius: 53px 0 0 53px;
      height: 392px;
      width: 100%;
      margin-bottom: 57px;
    }
    @include for-tablet {
      border-radius: 53px 0 0 53px;
      width: 100%;
      margin-left: 67px;
      margin-bottom: 60px;
    }
    @include for-desktop {
      z-index: 0;
      border-radius: 53px 0 0 53px;
      position: absolute;
      height: 588px;
      right: -532px;
    }
    @include for-desktop-up {
      z-index: 0;

      position: absolute;
      height: 588px;
      right: -532px;
    }
    .slider {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      transition: all 0.5s;
      overflow: hidden;
      height: 100%;
      width: 100%;
      .slide {
        z-index: 0;
        min-width: 100%;
        transition: 0.5s;
        overflow: hidden;
        @include for-phone {
          height: 588px;
        }
        @include for-tablet {
          height: 588px;
        }
        .slideImg {
          @include for-phone {
            position: absolute;
            top: 140px;
            left: 18px;
            height: 330px;
            object-fit: contain;
          }
          @include for-tablet {
            position: absolute;
            top: 40px;
            left: -15px;
            width: 1055px;
            object-fit: contain;
          }
          @include for-desktop {
            // position: absolute;
            margin-top: 50px;
            margin-left: -15px;
            width: 1055px;
            object-fit: contain;
          }
          @include for-desktop-up {
            margin-top: 50px;
            margin-left: -15px;
            width: 1055px;
            object-fit: contain;
          }
        }
        .slideImgLast {
          z-index: 0;
          @include for-phone {
            position: absolute;
            top: 130px;
            left: 50px;
            height: 330px;
            object-fit: contain;
          }
          @include for-tablet {
            z-index: 0;
            position: absolute;
            top: 40px;
            left: 55px;
            width: 900px;
            object-fit: contain;
          }
          @include for-desktop {
            z-index: 0;
            margin-top: 10px;
            margin-left: 45px;
            width: 900px;
            object-fit: contain;
          }
          @include for-desktop-up {
            z-index: 0;
            margin-top: 10px;
            margin-left: 45px;
            width: 900px;
            object-fit: contain;
          }
        }
      }
    }
  }
  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-phone {
      margin-top: -15px;
      margin-bottom: 40px;
      min-width: 186px;
    }
    @include for-tablet {
      margin: 7px 0 0;
      position: static;
      align-self: flex-start;
      min-width: 186px;
    }
    @include for-desktop {
      margin-left: 9px;
      align-self: flex-start;
      min-width: 186px;
    }
    @include for-desktop-up {
      margin-left: 9px;
      align-self: flex-start;
      min-width: 186px;
    }
  }
}
.textCarousel {
  width: 100%;
  @include for-phone {
    padding: 0 35px;
  }
  @include for-tablet {
    width: 65%;
  }
  @include for-desktop {
    padding: 0;
    align-self: start;
    margin: 25px 0 60px 7px;
  }
  @include for-desktop-up {
    padding: 0;
    align-self: start;
    margin: 25px 0 60px 7px;
  }
  .slider {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    overflow: hidden;
    .slide {
      min-width: 100%;
      height: 100%;
      transition: 0.5s;
      overflow: hidden;
      .sectionTitle {
        font-family: 'Manrope Bold';
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: $primary-text-color;
        margin-bottom: 17px;
        @include for-phone {
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          line-height: 1.35;
          letter-spacing: normal;
          letter-spacing: -0.4px;
          text-align: center;
        }
        @include for-tablet {
          text-align: left;
          margin-bottom: 24px;
          font-size: 32px;
          width: 288px;
          line-height: 1.4;
          letter-spacing: -0.4px;
          font-stretch: normal;
        }
        @include for-desktop {
          text-align: left;
          margin-bottom: 24px;
          font-size: 32px;
          width: 288px;
          line-height: 1.4;
          letter-spacing: -0.3px;
          font-stretch: normal;
        }
        @include for-desktop-up {
          text-align: left;
          margin-bottom: 24px;
          font-size: 32px;
          width: 288px;
          line-height: 1.4;
          letter-spacing: -0.3px;
          letter-spacing: normal;
          font-stretch: normal;
        }
      }
      .descriprionText {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        line-height: 1.65;
        letter-spacing: 0.5px;
        color: $secondary-text-color;
        @include for-phone {
          line-height: 1.7;
          letter-spacing: 0.4px;
        }
        @include for-tablet {
          font-family: 'Manrope Regular';
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: 0.1px;
          text-align: left;
          width: 380px;
        }
        @include for-desktop {
          text-align: left;
          width: 380px;
          margin-bottom: 20px;
        }
        @include for-desktop-up {
          text-align: left;
          width: 380px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.paginationBtn {
  border-radius: 50%;
  border: 1px;
  width: 6px;
  height: 6px;
  background-color: #d4dae0;
  cursor: pointer;
}
.paginationList {
  display: flex;
}
.paginationList li:not(:last-of-type) {
  margin-right: 12px;
}
.paginationList li {
  margin-bottom: 3px;
}
.paginationBtnActive {
  border-radius: 50%;
  border: 1px;
  width: 6px;
  height: 6px;
  background-color: black;
  cursor: pointer;
}

.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px #dae1e8;
  background-color: transparent;
  cursor: pointer;
}
.btn:disabled {
  background-color: #f0f1f2;
}

.imgDisabled {
  opacity: 0.25;
}
.img {
  opacity: 1;
}

.descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include for-tablet {
    padding: 0 30px 0 50px;
    width: 100%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  @include for-desktop {
    flex-direction: column-reverse;
    padding: 120px 0 0 70px;
  }
  @include for-desktop-up {
    flex-direction: column-reverse;
    padding: 115px 0 0 68px;
  }
}
