@import 'mixin.scss';
.imgWrpItalian {
  display: flex;
  align-items: center;

  @include for-tablet {
    margin: 2px 0 0 18px;
    width: 94px;
    height: 70px;
  }
  @include for-desktop {
    margin: 0 0 0 20px;
    width: 128px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: -2px 0 0 12px;
    width: 128px;
    height: 86px;
  }
}
.imgWrpCheken {
  @include for-tablet {
    margin: -12px 0 0 20px;
    width: 104px;
    height: 77px;
  }
  @include for-desktop {
    margin: -5px 0 0 43px;
    width: 138px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: -9px 0 0 77px;
    width: 138px;
    height: 86px;
  }
}

.imgWrpJolliebean {
  @include for-tablet {
    margin: 16px 0 0 17px;
    width: 94px;
    height: 70px;
  }
  @include for-desktop {
    margin: -1px 0 0 37px;
    width: 138px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: -4px 0 0 62px;
    width: 138px;
    height: 86px;
  }
}
.imgWrpBens {
  @include for-phone {
    width: 104px;
    height: 70px;
  }
  @include for-tablet {
    margin: 0px 0 0 30px;
    width: 104px;
    height: 70px;
  }
  @include for-desktop {
    margin: 5px 0 0 55px;
    width: 138px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: 2px 0 0 68px;
    width: 138px;
    height: 86px;
  }
}
.imgWrpSimply {
  position: relative;
  object-fit: contain;
  @include for-tablet {
    margin: -16px 0 0 20px;
    width: 134px;
    height: 77px;
  }
  @include for-desktop {
    margin: -12px 0 0 37px;
    width: 138px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: -14px 0 0 38px;
    width: 138px;
    height: 86px;
  }
}
.imgItalian {
  position: relative;
  object-fit: contain;
  @include for-tablet {
    margin: -8px 0 0 5px;
    width: 114px;
    height: 77px;
  }
  @include for-desktop {
    margin: 1px 0 0 18px;
    width: 130px;
    height: 86px;
  }
  @include for-desktop-up {
    margin: 1px 0 0 18px;
    width: 130px;
    height: 86px;
  }
}
.bensImg {
  @include for-tablet {
    height: 65px;
  }
  @include for-desktop {
    height: 77px;
  }
  @include for-desktop-up {
    height: 77px;
  }
}

.simplyImg {
  @include for-tablet {
    height: 113px;
  }
  @include for-desktop {
    height: 127px;
  }
  @include for-desktop-up {
    height: 127px;
  }
}

.imgCheken {
  @include for-tablet {
    height: 87px;
  }
  @include for-desktop {
    height: 97px;
  }
  @include for-desktop-up {
    height: 97px;
  }
}
.imgJoollibean {
  @include for-tablet {
    height: 43px;
    width: 105px;
  }
  @include for-desktop {
    height: 97px;
  }
  @include for-desktop-up {
    height: 97px;
  }
}
