@import 'variables.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 120px);
  .navigationList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-left: 2px;
    border-left: 1px solid rgba(33, 39, 46, 0.2);
    min-height: 24px;
    padding-left: 24px;

    .navigationListItem {
      display: flex;
      // padding-bottom: 5px;
      justify-content: center;
      margin-top: -5px;
    }
  }
}
.navLink {
  font-family: 'Manrope Regular';
  border: none;
  text-decoration: none;
  color: $primary-text-color;
  line-height: normal;
  transition: 0.4s;
  font-size: 12px;
  font-weight: 400;
}

.navLink:hover,
.navLink:focus {
  color: $navigation-btn-active;
  cursor: pointer;
}
.active {
  color: $navigation-btn-active;
}

.navigationList li:not(:last-of-type) {
  padding-right: 28px;
}
.navigationList li:nth-child(2) {
  margin-left: 2px;
}
.navigationList li:nth-child(3) {
  margin-left: -5px;
  letter-spacing: -0.4px;
}
.navigationList li:nth-child(4) {
  letter-spacing: -0.5px;
}

.btn {
  border: 1px solid rgba(144, 149, 153, 0.35);
  background-color: hsla(0, 0%, 100%, 0);
  color: $primary-text-color;
  transition: 0.4s;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  width: 103px;
  height: 36px;
  padding: 8px 16px 13px 16px;
  letter-spacing: -0.3px;
}
.btn:hover {
  background-image: linear-gradient(104deg, #ff474d, #fa4353);
  color: #fff;
}
