@import 'mixin.scss';
@import 'variables.scss';

.comunicationSection {
  position: relative;
  background-color: $bg-color;
  background-color: red;
  z-index: 1;
  @include for-phone {
    padding: 58px 11px 61px;
  }
  @include for-tablet {
    padding: 59px 0 72px;
  }
  @include for-desktop {
    padding: 64px 0 61px;
    display: flex;
    flex-wrap: nowrap;
    height: 556px;
  }
  @include for-desktop-up {
    padding: 64px 0 61px;
    display: flex;
    flex-wrap: nowrap;
    max-height: 586px;
    box-shadow: 0 -40px 5px 27px hsla(0, 0%, 100%, 0.5);
  }
}
.comunicationSectionWrp {
  margin: 0 auto;
}
.contentWrapper {
  @include for-desktop-up;
}
.imgContainer {
  @include for-desktop {
    margin-top: 40px;
  }
  @include for-desktop-up {
    margin-top: 40px;
  }
}
.content {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include for-tablet {
    align-items: center;
    justify-content: center;
  }
  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include for-desktop-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1035px;
  }
  .imgWrapper {
    @include for-phone {
      align-self: center;
      order: 1;
      margin-bottom: 46px;
    }
    @include for-tablet {
      align-self: center;
      width: 469px;
      margin-right: 34px;
      top: 26px;
      order: 1;
      margin-bottom: 64px;
    }
    @include for-desktop {
      width: 565px;
    }
    @include for-desktop-up {
      width: 565px;
    }
    .img {
      transition: 0.4s;
      @include for-phone {
        object-fit: contain;
        max-width: 100%;
      }
      @include for-tablet {
        max-width: 100%;
      }
      @include for-desktop {
        max-width: 469px;
        margin-left: 25px;
        margin-top: 63px;
      }
      @include for-desktop-up {
        max-width: 620px;
        min-height: 320px;
        margin-left: -72px;
        margin-top: 43px;
      }
    }
  }

  .title {
    position: relative;
    @include for-phone {
      text-align: center;
      order: 0;
      width: 100%;
    }
    @include for-tablet {
      text-align: center;
      order: 0;
      width: 100%;
    }
    @include for-desktop {
      order: 0;
      width: 100%;
      margin-top: 32px;
      padding-bottom: 64px;
      margin-bottom: 58px;
    }
    @include for-desktop-up {
      order: 0;
      width: 100%;
      padding-bottom: 62px;
      margin-bottom: 59px;
      margin-left: 35px;
    }
    .sectionTitle {
      font-family: 'Manrope Semibold';
      font-size: 32px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      @include for-phone {
        margin-bottom: 39px;
      }
      @include for-tablet {
        margin-bottom: 39px;
      }
      @include for-desktop {
        font-family: 'Manrope Bold';
        line-height: 1.3;
        letter-spacing: -0.3px;
        margin-bottom: 40px;
        text-align: left;
      }
      @include for-desktop-up {
        margin-bottom: 35px;
        text-align: left;
      }
    }
    .btnWrapper {
      @include for-phone {
        margin-left: -3px;
        margin-bottom: 68px;
      }
      @include for-tablet {
        margin-bottom: 89px;
      }
    }
    .btnWrapperNew {
      margin: 0;
      margin-left: -3px;
    }

    .btn {
      font-family: 'Manrope Semibold';
      text-transform: uppercase;
      width: 128px;
      height: 48px;
      font-size: 13px;
      letter-spacing: 0.8px;
      font-weight: 600;
      outline: none;
      color: #787c80;
      background-color: transparent;
      border-radius: 6px;
      border: solid 1px rgba(144, 149, 153, 0.35);
      transition: 0.4s;
      cursor: pointer;
    }
    .btnActive {
      font-family: 'Manrope Semibold';
      text-transform: uppercase;
      width: 129px;
      height: 50px;
      font-weight: 600;
      outline: none;
      font-size: 13px;
      letter-spacing: 0.7px;
      color: #fa4353;
      border-radius: 6px;
      border: solid 1px rgba(144, 149, 153, 0.35);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
      background-color: #fff;
      transition: 0.4s;
      cursor: pointer;
    }
    button:first-of-type {
      margin-right: 24px;
    }
  }
  .title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 408px;
    height: 1px;
    opacity: 0.2;
    background-color: $primary-text-color;
    @include for-phone {
      display: none;
    }
    @include for-tablet {
      display: none;
    }
  }
  .desc {
    @include for-phone {
      order: 1;
      width: 100%;
      text-align: center;
      padding: 0 19px;
    }
    @include for-tablet {
      order: 1;
      width: 400px;
      text-align: center;
      padding: 0 50px;
    }
    @include for-desktop {
      order: 1;
      width: 400px;
      text-align: center;
    }
    @include for-desktop-up {
      order: 1;
      width: 400px;
      text-align: center;
    }
  }
  .descTitle {
    font-family: 'Manrope Bold';
    color: $primary-text-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    @include for-phone {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: 3px;
      margin-bottom: 10px;
    }
    @include for-tablet {
      font-family: 'Manrope Semibold';
      font-size: 18px;
      font-weight: 600;
      line-height: 1.7;
      font-stretch: normal;
      font-style: normal;
      text-align: center;
      margin-bottom: 8px;
    }
    @include for-desktop {
      text-align: left;
      margin-bottom: 8px;
    }
    @include for-desktop-up {
      text-align: left;
      margin-bottom: 8px;
      margin-left: 35px;
    }
  }
  .descText {
    color: $secondary-text-color;
    font-family: 'Manrope Regular';
    @include for-phone {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
    }
    @include for-tablet {
      font-family: 'Manrope Regular';
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 0.1px;
      text-align: center;
    }
    @include for-desktop {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      letter-spacing: 0.1px;
    }
    @include for-desktop-up {
      font-family: 'Manrope Regular';
      text-align: left;
      margin-left: 36px;
      margin-right: -36px;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
    }
  }
}

.animationWrapper {
  transition: 0.4s;
  width: 100%;
  @include for-desktop {
    max-width: 510px;
    margin-top: 50px;
    margin-left: 30px;
  }
  @include for-desktop-up {
    // max-width: 510px;
  }
}
